option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "bankingapi.settings"
    "PYTHONPATH": "/opt/python/current/app/bankingapi:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: bankingapi/bankingapi/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []
